oee-calculate/backupData/flows (2).json
[
  {
    "id": "e0ed79ad.0409e8",
    "type": "tab",
    "label": "OEE Calculate",
    "disabled": false,
    "info": ""
  },
  {
    "id": "54d6136f.e31b4c",
    "type": "inject",
    "z": "e0ed79ad.0409e8",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 150,
    "y": 540,
    "wires": [
      [
        "b6c70240.182b8",
        "757c4f1e.852d5",
        "d4fc702e.b9bd2",
        "819a5840.b2d4a8",
        "b1319dc8.fe0cc",
        "dba3f936.910768",
        "c0f5e61b.d57ae8",
        "1497bb62.fad775",
        "d9a9038b.771fb",
        "7c395d8f.c960f4",
        "60383442.e0349c"
      ]
    ]
  },
  {
    "id": "b6c70240.182b8",
    "type": "influxdb in",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "GET DATA  1 D ",
    "query": "select *  from raw_sensor where time > now() - 1d;",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "x": 380,
    "y": 320,
    "wires": [["454f99c0.9a52d8"]]
  },
  {
    "id": "757c4f1e.852d5",
    "type": "influxdb in",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "GET DATA  8 hr ",
    "query": "select *  from raw_sensor where time > now() - 8h;",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "x": 380,
    "y": 360,
    "wires": [["c7dd2467.f41868"]]
  },
  {
    "id": "d4fc702e.b9bd2",
    "type": "influxdb in",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "GET DATA  4 hr ",
    "query": "select *  from raw_sensor where time > now() - 4h;",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "x": 380,
    "y": 400,
    "wires": [["885dd2b1.66fbe"]]
  },
  {
    "id": "819a5840.b2d4a8",
    "type": "influxdb in",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "GET DATA  1 hr ",
    "query": "select *  from raw_sensor where time > now() - 1h;",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "x": 380,
    "y": 440,
    "wires": [["22313464.f7c6ac"]]
  },
  {
    "id": "b1319dc8.fe0cc",
    "type": "influxdb in",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "GET DATA 30 m",
    "query": "select *  from raw_sensor where time > now() - 30m;",
    "rawOutput": false,
    "precision": "",
    "retentionPolicy": "",
    "x": 380,
    "y": 480,
    "wires": [["6e1b765e.5117c8", "6a05d8b0.f617d8"]]
  },
  {
    "id": "dba3f936.910768",
    "type": "function",
    "z": "e0ed79ad.0409e8",
    "name": "period 10 s",
    "func": "msg.topic = \"period\"\nmsg.payload=  10\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 600,
    "wires": [
      [
        "33076164.fc734e",
        "ad0be6ce.08b078",
        "52a3d67a.3a2808",
        "ddd0e779.7f31e8",
        "3143b667.c8551a"
      ]
    ]
  },
  {
    "id": "60383442.e0349c",
    "type": "function",
    "z": "e0ed79ad.0409e8",
    "name": "runTime 30 m",
    "func": "msg.topic = \"runTime\"\nmsg.payload = 30*60\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 380,
    "y": 840,
    "wires": [["33076164.fc734e"]]
  },
  {
    "id": "7c395d8f.c960f4",
    "type": "function",
    "z": "e0ed79ad.0409e8",
    "name": "runTime 1 hr",
    "func": "msg.topic = \"runTime\"\nmsg.payload =  60*60\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 800,
    "wires": [["ad0be6ce.08b078"]]
  },
  {
    "id": "d9a9038b.771fb",
    "type": "function",
    "z": "e0ed79ad.0409e8",
    "name": "runTime 4 hr",
    "func": "msg.topic = \"runTime\"\nmsg.payload = 4*60*60\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 760,
    "wires": [["52a3d67a.3a2808"]]
  },
  {
    "id": "1497bb62.fad775",
    "type": "function",
    "z": "e0ed79ad.0409e8",
    "name": "runTime 8 hr ",
    "func": "msg.topic = \"runTime\"\nmsg.payload = 8*60*60\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 720,
    "wires": [["ddd0e779.7f31e8"]]
  },
  {
    "id": "c0f5e61b.d57ae8",
    "type": "function",
    "z": "e0ed79ad.0409e8",
    "name": "runTime 1 D",
    "func": "msg.topic = \"runTime\"\nmsg.payload = 24*60*60\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 370,
    "y": 680,
    "wires": [["3143b667.c8551a"]]
  },
  {
    "id": "6e1b765e.5117c8",
    "type": "change",
    "z": "e0ed79ad.0409e8",
    "name": "set topic name datas",
    "rules": [
      { "t": "set", "p": "topic", "pt": "msg", "to": "datas", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 480,
    "wires": [["33076164.fc734e"]]
  },
  {
    "id": "33076164.fc734e",
    "type": "join",
    "z": "e0ed79ad.0409e8",
    "name": "merge object 30 m",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "3",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1050,
    "y": 700,
    "wires": [["14534526.210fbb", "73e0c84a.6c3928"]]
  },
  {
    "id": "e9b3ef14.d1b5a",
    "type": "debug",
    "z": "e0ed79ad.0409e8",
    "name": "oee 30 m",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 2020,
    "y": 480,
    "wires": []
  },
  {
    "id": "14534526.210fbb",
    "type": "function",
    "z": "e0ed79ad.0409e8",
    "name": "OEE Section 2 Calculate",
    "func": "let payload = msg.payload;\nlet datas = payload.datas;\nlet period = payload.period;\nlet runTime = payload.runTime;\nlet avalibility = 0;\nlet performance = 0;\nlet quality = 0;\nlet oee = 0;\nlet total_cw = datas[datas.length - 1].cw_total_count - datas[0].cw_total_count;\nlet pass_md = datas[datas.length - 1].md_ok_count - datas[0].md_ok_count;\nlet pass_cw = datas[datas.length - 1].cw_pass_count - datas[0].cw_pass_count;\n\ndatas.forEach((data) => {\n  if (data.md_status === 1 && data.cw_status === 1) {\n    avalibility += period;\n  }\n});\n\navalibility = avalibility / runTime;\nperformance = total_cw / pass_md;\nquality = pass_cw / total_cw;\noee = avalibility * performance * quality;\n\nmsg.topic = runTime.toString()\n\nmsg.payload = {\n  avalibility: avalibility,\n  performance: performance,\n  quality: quality,\n  oee: oee,\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 600,
    "wires": [["c867c87c.a2aee8", "fc060597.4b7dc8"]]
  },
  {
    "id": "22313464.f7c6ac",
    "type": "change",
    "z": "e0ed79ad.0409e8",
    "name": "set topic name datas",
    "rules": [
      { "t": "set", "p": "topic", "pt": "msg", "to": "datas", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 440,
    "wires": [["ad0be6ce.08b078"]]
  },
  {
    "id": "ad0be6ce.08b078",
    "type": "join",
    "z": "e0ed79ad.0409e8",
    "name": "merge object 1 hr",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "3",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1050,
    "y": 660,
    "wires": [["14534526.210fbb", "73e0c84a.6c3928"]]
  },
  {
    "id": "885dd2b1.66fbe",
    "type": "change",
    "z": "e0ed79ad.0409e8",
    "name": "set topic name datas",
    "rules": [
      { "t": "set", "p": "topic", "pt": "msg", "to": "datas", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 400,
    "wires": [["52a3d67a.3a2808"]]
  },
  {
    "id": "52a3d67a.3a2808",
    "type": "join",
    "z": "e0ed79ad.0409e8",
    "name": "merge object 4 hr",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "3",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1050,
    "y": 620,
    "wires": [["14534526.210fbb", "73e0c84a.6c3928"]]
  },
  {
    "id": "c7dd2467.f41868",
    "type": "change",
    "z": "e0ed79ad.0409e8",
    "name": "set topic name datas",
    "rules": [
      { "t": "set", "p": "topic", "pt": "msg", "to": "datas", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 360,
    "wires": [["ddd0e779.7f31e8"]]
  },
  {
    "id": "ddd0e779.7f31e8",
    "type": "join",
    "z": "e0ed79ad.0409e8",
    "name": "merge object 8 hr",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "3",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1050,
    "y": 580,
    "wires": [["14534526.210fbb", "73e0c84a.6c3928"]]
  },
  {
    "id": "454f99c0.9a52d8",
    "type": "change",
    "z": "e0ed79ad.0409e8",
    "name": "set topic name datas",
    "rules": [
      { "t": "set", "p": "topic", "pt": "msg", "to": "datas", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 640,
    "y": 320,
    "wires": [["3143b667.c8551a"]]
  },
  {
    "id": "3143b667.c8551a",
    "type": "join",
    "z": "e0ed79ad.0409e8",
    "name": "merge object 1 d",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "3",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1050,
    "y": 540,
    "wires": [["14534526.210fbb", "73e0c84a.6c3928"]]
  },
  {
    "id": "3e6724bb.81feec",
    "type": "debug",
    "z": "e0ed79ad.0409e8",
    "name": "oee 1 hr",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 2020,
    "y": 440,
    "wires": []
  },
  {
    "id": "2737ea78.cbcc86",
    "type": "debug",
    "z": "e0ed79ad.0409e8",
    "name": "oee 4 hr",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 2020,
    "y": 400,
    "wires": []
  },
  {
    "id": "80f81533.d0b698",
    "type": "debug",
    "z": "e0ed79ad.0409e8",
    "name": "oee 8 hr",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 2020,
    "y": 360,
    "wires": []
  },
  {
    "id": "6ed21b92.cc9c04",
    "type": "debug",
    "z": "e0ed79ad.0409e8",
    "name": "oee 1 d",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 2020,
    "y": 320,
    "wires": []
  },
  {
    "id": "ad68a79e.107f78",
    "type": "influxdb out",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "",
    "measurement": "oee_sec_2_1_d",
    "precision": "",
    "retentionPolicy": "",
    "x": 2060,
    "y": 20,
    "wires": []
  },
  {
    "id": "9e7f0f93.6963d",
    "type": "influxdb out",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "",
    "measurement": "oee_sec_2_8_h",
    "precision": "",
    "retentionPolicy": "",
    "x": 2060,
    "y": 60,
    "wires": []
  },
  {
    "id": "33ee2026.c313f",
    "type": "influxdb out",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "",
    "measurement": "oee_sec_2_4_h",
    "precision": "",
    "retentionPolicy": "",
    "x": 2060,
    "y": 100,
    "wires": []
  },
  {
    "id": "f849dbb0.a7abc8",
    "type": "influxdb out",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "",
    "measurement": "oee_sec_2_1_h",
    "precision": "",
    "retentionPolicy": "",
    "x": 2060,
    "y": 140,
    "wires": []
  },
  {
    "id": "38b73713.488e98",
    "type": "influxdb out",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "",
    "measurement": "oee_sec_2_30_m",
    "precision": "",
    "retentionPolicy": "",
    "x": 2070,
    "y": 180,
    "wires": []
  },
  {
    "id": "c867c87c.a2aee8",
    "type": "switch",
    "z": "e0ed79ad.0409e8",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "86400", "vt": "str" },
      { "t": "eq", "v": "28800", "vt": "str" },
      { "t": "eq", "v": "14400", "vt": "str" },
      { "t": "eq", "v": "3600", "vt": "str" },
      { "t": "eq", "v": "1800", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 1710,
    "y": 260,
    "wires": [
      ["6ed21b92.cc9c04", "ad68a79e.107f78"],
      ["80f81533.d0b698", "9e7f0f93.6963d"],
      ["2737ea78.cbcc86", "33ee2026.c313f"],
      ["3e6724bb.81feec", "f849dbb0.a7abc8"],
      ["e9b3ef14.d1b5a", "38b73713.488e98"]
    ]
  },
  {
    "id": "73e0c84a.6c3928",
    "type": "function",
    "z": "e0ed79ad.0409e8",
    "name": "OEE Section 1 Calculate",
    "func": "let payload = msg.payload;\nlet datas = payload.datas;\nlet period = payload.period;\nlet runTime = payload.runTime;\nlet avalibility = 0;\nlet performance = 0;\nlet quality = 0;\nlet oee = 0;\nlet actualCutCount =datas[datas.length - 1].cm_cut_count - datas[0].cm_cut_count;\nlet md_ok = datas[datas.length-1].md_ok_count - datas[0].md_ok_count\n\ndatas.forEach(data => {\n  if (data.md_status > 0 && data.cm_cut_freq > 0 && data.cm_cutting === true) {\n    avalibility += period\n  }\n})\n\n\n\navalibility = avalibility / runTime\nperformance = (actualCutCount * 5 * 0.2) /runTime\nquality = md_ok / (actualCutCount*5)\noee = avalibility * performance * quality;\n\nif(isNaN(performance)) performance = 0\nif(!isFinite(quality)) quality = 0\nif(quality < 0) quality = 0\nif(isNaN(oee)) oee = 0\nmsg.topic = runTime.toString()\n\nmsg.payload = {\n  avalibility: avalibility,\n  performance: performance,\n  quality: quality,\n  oee: oee,\n};\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 1330,
    "y": 660,
    "wires": [["3bc66d75.cea0a2", "1e027b12.2d1f85"]]
  },
  {
    "id": "3214d418.0feadc",
    "type": "debug",
    "z": "e0ed79ad.0409e8",
    "name": "oee 30 m",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 2020,
    "y": 1380,
    "wires": []
  },
  {
    "id": "99d9142a.e56568",
    "type": "debug",
    "z": "e0ed79ad.0409e8",
    "name": "oee 1 hr",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 2020,
    "y": 1340,
    "wires": []
  },
  {
    "id": "ebfda880.747d48",
    "type": "debug",
    "z": "e0ed79ad.0409e8",
    "name": "oee 4 hr",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 2020,
    "y": 1300,
    "wires": []
  },
  {
    "id": "71a1b207.98cd4c",
    "type": "debug",
    "z": "e0ed79ad.0409e8",
    "name": "oee 8 hr",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 2020,
    "y": 1260,
    "wires": []
  },
  {
    "id": "b9a90648.30fad8",
    "type": "debug",
    "z": "e0ed79ad.0409e8",
    "name": "oee 1 d",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 2020,
    "y": 1220,
    "wires": []
  },
  {
    "id": "fee5cc6d.db523",
    "type": "influxdb out",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "",
    "measurement": "oee_sec_1_1_d",
    "precision": "",
    "retentionPolicy": "",
    "x": 2060,
    "y": 920,
    "wires": []
  },
  {
    "id": "dd343135.147cd",
    "type": "influxdb out",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "",
    "measurement": "oee_sec_1_8_h",
    "precision": "",
    "retentionPolicy": "",
    "x": 2060,
    "y": 960,
    "wires": []
  },
  {
    "id": "e1d44f84.2971b",
    "type": "influxdb out",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "",
    "measurement": "oee_sec_1_4_h",
    "precision": "",
    "retentionPolicy": "",
    "x": 2060,
    "y": 1000,
    "wires": []
  },
  {
    "id": "6dc7aca2.e1d104",
    "type": "influxdb out",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "",
    "measurement": "oee_sec_1_1_h",
    "precision": "",
    "retentionPolicy": "",
    "x": 2060,
    "y": 1040,
    "wires": []
  },
  {
    "id": "ec84b2c1.41ab3",
    "type": "influxdb out",
    "z": "e0ed79ad.0409e8",
    "influxdb": "d09c844d.3bc348",
    "name": "",
    "measurement": "oee_sec_1_30_m",
    "precision": "",
    "retentionPolicy": "",
    "x": 2070,
    "y": 1080,
    "wires": []
  },
  {
    "id": "3bc66d75.cea0a2",
    "type": "switch",
    "z": "e0ed79ad.0409e8",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      { "t": "eq", "v": "86400", "vt": "str" },
      { "t": "eq", "v": "28800", "vt": "str" },
      { "t": "eq", "v": "14400", "vt": "str" },
      { "t": "eq", "v": "3600", "vt": "str" },
      { "t": "eq", "v": "1800", "vt": "str" }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 5,
    "x": 1710,
    "y": 1160,
    "wires": [
      ["b9a90648.30fad8", "fee5cc6d.db523"],
      ["71a1b207.98cd4c", "dd343135.147cd"],
      ["ebfda880.747d48", "e1d44f84.2971b"],
      ["99d9142a.e56568", "6dc7aca2.e1d104"],
      ["3214d418.0feadc", "ec84b2c1.41ab3"]
    ]
  },
  {
    "id": "1e027b12.2d1f85",
    "type": "join",
    "z": "e0ed79ad.0409e8",
    "name": "",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "5",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1750,
    "y": 660,
    "wires": [["1b602d9a.5d5ca2"]]
  },
  {
    "id": "fb4a978f.91c8c8",
    "type": "link out",
    "z": "e0ed79ad.0409e8",
    "name": "Netpie OEE",
    "links": ["55ae716.5b6c59"],
    "x": 2495,
    "y": 640,
    "wires": []
  },
  {
    "id": "fc060597.4b7dc8",
    "type": "join",
    "z": "e0ed79ad.0409e8",
    "name": "",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "5",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 1750,
    "y": 600,
    "wires": [["ced24bc8.2b9a48"]]
  },
  {
    "id": "ced24bc8.2b9a48",
    "type": "change",
    "z": "e0ed79ad.0409e8",
    "name": "",
    "rules": [
      { "t": "set", "p": "topic", "pt": "msg", "to": "OEE_2", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1930,
    "y": 600,
    "wires": [["83ad3644.58d728"]]
  },
  {
    "id": "1b602d9a.5d5ca2",
    "type": "change",
    "z": "e0ed79ad.0409e8",
    "name": "",
    "rules": [
      { "t": "set", "p": "topic", "pt": "msg", "to": "OEE_1", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1930,
    "y": 660,
    "wires": [["83ad3644.58d728"]]
  },
  {
    "id": "83ad3644.58d728",
    "type": "join",
    "z": "e0ed79ad.0409e8",
    "name": "",
    "mode": "custom",
    "build": "object",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 2270,
    "y": 640,
    "wires": [["fb4a978f.91c8c8"]]
  },
  {
    "id": "6a05d8b0.f617d8",
    "type": "debug",
    "z": "e0ed79ad.0409e8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 1270,
    "y": 340,
    "wires": []
  },
  {
    "id": "d09c844d.3bc348",
    "type": "influxdb",
    "z": "",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "mama",
    "name": "mama",
    "usetls": false,
    "tls": ""
  }
]
